/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (width < 768px){

    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    #nav-bar {
        display: flex;
        flex-direction: row;
        background-color: #540B51;
    }

    .logo {
        display: flex;
        width: 80px;
        padding: 24px;
    }

    .icons {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .nav-links {
        display: none;
    }

    #nav-bar button {
        background-color: #540B51;
        border: none;
    }

    header {
        background-color: #540B51;
    }

    header h1 {
        margin: 0;
        font-weight: 600;
        color: white;
        font-size: 2.8rem;
        text-align: center;
        padding-top: 16px;
    }

    #free {
        color: white;
        text-align: center;
    }

    #free span {
        color: #ECB12F;
        font-weight: bold;
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }

    .buttons button {
        margin: 8px 24px;
        height: 54px;
        border-radius: 5px;
        border: none;
        text-transform: uppercase;
    }

    #logo-google {
        height: 36px;
        background-color: white;
        border-radius: 4px;
        padding: 4px;
        position: absolute;
        left: 32px;
    }

    #button-google {
        background-color: #4285F4;
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 56px; */
        color: white;

    }

    .button-white,  #button-google span {
        font-weight: bold;
    }

    .button-white {
        color: #540B51;
    }

    #img-slack {
        width: 100%;
        margin-top: 32px;
    }

    #trasted {
        background-color: #F3EAE2;
        padding: 32px 16px;
    }

    #trasted p {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-weight: 600;
        font-size: 0.8rem;
    }

    .cnt-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        padding-top: 24px;
    }

    .cnt-icons img {
        height: 36px;
    }

    #teams {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #teams li {
        list-style: none;
        margin: 24px;
    }

    .purple {
        color: #540B51;
    }

    #teams h3, #welcome h3 {
        font-size: 24px;
        margin: 24px;
        /* margin-bottom: 0; */
    }

    #support {
        font-size: 0.9rem;
    }

    #teams p {
        margin: 0 60px;
    }

    span.purple {
        font-size: 40px;
        font-weight: bold;
        
    }

    .benefits {
        font-size: 0.8rem;
        font-weight: bold;

    }

    #welcome {
        background-color: #540B51;
        text-align: center;
        color: white;
        padding: 20px;
    }

    #button-purple {
        background-color: #540B51;
        border: 2px solid white;
        color: white;
    }

    hr {
        margin: 24px;
    }

    footer li {
        list-style: none;
    }

    #social-media ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    #terms {
        font-size: 0.8rem;
        font-weight: bold;
    }

    #terms li {
        padding: 12px 0;
    }

    #terms li img {
        padding-right: 8px;
    }

    #blue {
        color: #2E71A6;
    }

    #copy p {
        text-align: center;
        padding: 32px;
    }
}
